ion-spinner {
    margin: auto;
}

ion-row.row-space {
    display: flex;
    justify-content: space-around;
}

div.input-wrapper {
    display: flex;
    justify-content: space-around;
}

ion-row.block {
    display: block;
}

section.detail-page {
    margin-left: 20px;
    margin-right: 20px;
}

p {
    font-size: 13px;
}
